VITE_NODE_ENV=development
VITE_APP_BASE_URL=http://localhost:3001
VITE_APP_URL=http://localhost:5173
VITE_APP_NETWORK=sepolia
VITE_APP_BLOCK_EXPLORER=https://sepolia.arbiscan.io/

# WalletConnect and RainbowKit Project ID
VITE_APP_RAINBOW_PROJECT_ID=
VITE_APP_WALLETCONNECT_PROJECT_ID=

# Contract Factory Addresses
VITE_APP_TEAM_POINTS_FACTORY_ADDRESS=
VITE_APP_TEAM_POINTS_FACTORY_ADDRESS_CELO=

# RPC URLs for different networks
VITE_APP_ARBITRUM_SEPOLIA_RPC=
VITE_APP_CELO_ALFAJORES_RPC=